@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yomogi";
}

body {
    /* background-image: radial-gradient(#59bfd1 20%, transparent 20%), radial-gradient(#fafafa 20%, transparent 20%); */
    background-color:  rgb(228, 76, 164);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    color: #fff;
}

/* .container {
    background-color: black;
} */

.header {
    background-color: black;
    text-align: right;
    color: #fff;
}

.title{
    color:aqua;
    text-align: center;
}

.instructions {
    text-align: center;
}